a {
    text-decoration: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

.preview {
    padding: 0.75rem 1rem;
    margin: 0;
    background-color: silver;
    border-radius: 0 15px 15px 0;
    border: 1px solid black;
    min-height: 255px;  
    font-size: 1.8rem;
}

img {
    display: block;
    width: 100%;
}

blockquote {
    width: max-content;
    background-color: gainsboro;
    border-left: 10px solid orangered;
    padding-left: 2rem;
}

pre {
    background-color: whitesmoke;
}

p > code {
    background-color: whitesmoke;
}